$black: #001;
$dark-bg: #222;
$base-bg: #356141;
$accent-bg: #555;
$light-bg: #666;
$lighter-bg: #777;
$lightest-bg: #bbb;
$base-font: #ddd;
$accent-font: #fff;

$mb-med: 768px;
$mb-lg: 992px;
$mb-xl: 1260px;